MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=edifice_db
MYSQL_USERNAME=root
MYSQL_PASSWORD=change-me

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=1
REDIS_PASSWORD=

OA_URL=http://127.0.0.1:8080
OA_SSO_SECRET=change-me
OA_SYNC_ENABLED=true
OA_SYNC_BASE_URL=http://127.0.0.1:8080
OA_SYNC_API_KEY=change-me
OA_SYNC_OFFICE_DATABASE=office_db
