{extend name="common/base" /}
{block name="body"}
{volist name="approve_modules" id="module"}
<section class="mobile-workgroup mobile-approve-group">
    <h2>{$module.title}</h2>
    <div class="mobile-app-grid">
        {volist name="module.list" id="item"}
        {if $item.mobile_supported}
        <a class="mobile-app" href="{$item.add_url}">
        {else/}
        <a class="mobile-app js-mobile-unavailable" href="javascript:;">
        {/if}
            <span class="mobile-app__icon mobile-color-approve-{$module.id}">
                <i class="iconfont {$item.icon}"></i>
            </span>
            <span class="mobile-app__title">{$item.title}</span>
        </a>
        {/volist}
    </div>
</section>
{/volist}
{/block}
{block name="script"}
<script>
var moduleInit = ['layer'];
function mbuiInit() {
    $('.js-mobile-unavailable').on('click', function () {
        mbui.layer.msg('暂未开放移动端表单');
    });
}
</script>
{/block}
